<div class="container">
  <h1 class="text-center">Card List</h1>
  <div>
    <h5>Search For Card</h5>
    <label for="Name">Name:</label>
    <input type="text">
    <label for="Team">Team:</label>
    <input type="text">
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <td>ID</td>
        <td>First Name</td>
        <td>Last Name</td>
        <td>Team</td>
        <td>More Info</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let card of cards">
        <td class="align-middle">{{card.id}}</td>
        <td class="align-middle">{{card.firstName}}</td>
        <td class="align-middle">{{card.lastName}}</td>
        <td class="align-middle">{{card.teamCity}} {{card.teamNickname}}</td>
        <td class="align-middle"><button class="btn btn-primary" [routerLink]="['/card/', card.id]">Details</button></td>
      </tr>
    </tbody>
  </table>
</div>