<div class="container">
  <h1>New Card Form</h1>
  <form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
    <div class="card">
      <div class="card-header">
        <div class="card-title">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="Name">Player Name</label>
              <input type="text" class="form-control" id="Name" placeholder="Name" [(ngModel)]="name" name="name">
            </div>
            <div class="form-group col-md-3">
              <label for="inputSport">Sport</label>
              <select id="inputSport" class="form-control" [(ngModel)]="selectedSport" name="selectedSport" (change)="getTeamNames()">
                <option selected>All</option>
                <option *ngFor="let sport of sports">{{ sport.sport }}</option>
              </select>
            </div>
            <div class="form-group col-md-3">
              <label for="inputTeam">Team</label>
              <select id="inputTeam" class="form-control" [disabled]="isDisabled">
                <option selected>All</option>
                <option *ngFor="let team of teams">{{ team.teamCity }} {{ team.teamNickname }}</option>
              </select>
            </div>
            <div class="form-group col-md-6">
              <label for="Name">Card Company</label>
              <input type="text" class="form-control" id="Name" placeholder="Name">
            </div>
            <div class="form-group col-md-6">
              <label for="Name">Card Set</label>
              <input type="text" class="form-control" id="Name" placeholder="Name">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-3">
              <label for="Name">Year</label>
              <input type="text" class="form-control" id="Year" placeholder="Year">
            </div>
            <div class="form-group col-md-3">
              <label for="inputAuto">Auto</label>
              <select id="inputAuto" class="form-control" name="auto">
                <option selected>No</option>
                <option>Yes</option>
              </select>
            </div>
            <div class="form-group col-md-3">
              <label for="inputRookie">Rookie</label>
              <select id="inputRookie" class="form-control" name="rookie">
                <option selected>No</option>
                <option>Yes</option>
              </select>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-3">
              <label for="inputRelic">Relic</label>
              <select id="inputRelic" class="form-control" [(ngModel)]="relic" name="relic">
                <option selected>No</option>
                <option>Yes</option>
              </select>
            </div>
            <div class="form-group col-md-3" [hidden]="hasRelic()">
              <label for="inputRelicType">Relic Type</label>
              <input type="text" class="form-control" id="inputRelicType" placeholder="Enter Relic Type...">
            </div>
            <div class="form-group col-md-3">
              <label for="inputNumbered">Numbered</label>
              <select id="inputNumbered" class="form-control" [(ngModel)]="numbered" name="numbered">
                <option selected>No</option>
                <option>Yes</option>
              </select>
            </div>
            <div class="form-group col-md-3" [hidden]="isNumbered()">
              <label for="inputNumberedTo">Numbered To</label>
              <input type="text" class="form-control" id="inputNumberedTo" placeholder="Enter number...">
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-6">
              <h6>Image</h6>
            </div>
            <div class="col-md-6">
              <h6>Image Preview</h6>
            </div>
            <div class="col-md-6">
              <input #file type="file" accept='image/*' (change)="preview(file.files)" />
            </div>
            <div class="col-md-6">
              <img [src]="imgURL" height="200" *ngIf="imgURL">
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Add Card</button>
        </div>
      </div>
    </div>
  </form>
</div>