<div class="container">
  <h1>New Card Form</h1>
  <form>
    <div class="card">
      <div class="card-header">
        <div class="card-title">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="Name">Player Name</label>
              <input type="text" class="form-control" id="Name" placeholder="Name">
            </div>
            <div class="form-group col-md-3">
              <label for="inputSport">Sport</label>
              <select id="inputSport" class="form-control" [(ngModel)]="selectedSportMod" name="selectedSport">
                <option selected>All</option>
                <option *ngFor="let sport of sports">{{ sport.sport }}</option>
              </select>
            </div>
            <div class="form-group col-md-3">
              <label for="inputTeam">Team</label>
              <select id="inputTeam" class="form-control" [disabled]="isDisabled">
                <option selected>All</option>
                <option *ngFor="let team of teams">{{ team.teamCity }} {{ team.teamNickname }}</option>
              </select>
            </div>
            <div class="form-group col-md-6">
              <label for="Name">Card Company</label>
              <input type="text" class="form-control" id="Name" placeholder="Name">
            </div>
            <div class="form-group col-md-6">
              <label for="Name">Card Set</label>
              <input type="text" class="form-control" id="Name" placeholder="Name">
            </div>
            <div class="form-group col-md-3">
              <label for="Name">Year</label>
              <input type="text" class="form-control" id="Year" placeholder="Year">
            </div>
            <div class="form-group col-md-3">
              <label for="inputAuto">Auto</label>
              <select id="inputAuto" class="form-control" name="auto">
                <option selected>No</option>
                <option>Yes</option>
              </select>
            </div>
            <div class="form-group col-md-3">
              <label for="inputRelic">Relic</label>
              <select id="inputRelic" class="form-control" name="relic">
                <option selected>No</option>
                <option>Yes</option>
              </select>
            </div>
            <div class="form-group col-md-3">
              <label for="inputRookie">Rookie</label>
              <select id="inputRookie" class="form-control" name="rookie">
                <option selected>No</option>
                <option>Yes</option>
              </select>
            </div>
            <label for="image">Image</label>
            <div class="custom-file col-md-6">
              <input type="file" class="custom-file-input" id="customFile">
              <label class="custom-file-label" for="customFile">Choose file</label>
            </div>
            <div class="col-md-6">
              <label for="imagePreview">Image Preview</label>
            </div>
            <button class="btn btn-primary">Add Card</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>