<div class="container">
  <div class="row">
    <a routerLink="/" class="btn btn-info">&larr; Go Back</a>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="img-container image-margin">
        <img src="{{card.imageLink}}" alt="{{card.playerName}}" class="img-fluid">
      </div>
    </div>
    <div class="col-md-8">
      <h1 class="text-center">{{card.playerName}}</h1>
      <h2 class="text-center">{{card.teamCity}} {{card.teamNickname}}</h2>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Card Info</h3>
        </div>
        <div class="panel-body">
          <ul>
            <li>Set - {{card.cardCompany}} {{card.cardSet}}</li>
            <li>Year - {{card.year}}</li>
            <li *ngIf = "card.rookieCard" >ROOKIE CARD</li>
            <li *ngIf = "card.auto" >AUTO</li>
            <li *ngIf = "card.relic">Relic - {{ card.relicType }}</li>
            <li *ngIf = "card.numbered" >Numbered To {{card.numberedTo}}</li>
          </ul>
        </div>
        <div class="text-center">
          <button class="btn btn-info" (click)="getEbayListings()">EBAY LISTINGS</button>
        </div>
      </div>
    </div>
  </div>
</div>